.cleanCartMembre {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-style: solid; */
  width: 200px;
  padding-top: 30px;
}

.bossNameMembre {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(197, 82, 82);
}
