@import url(https://allfont.net/allfont.css?fonts=pragmatica-cyrillic);
body {
  background: #f9f9f9;
  font-family: "Pragmatica Cyrillic", arial;
}
.bgAcceuilCbs {
  /* align-items: center; */
  height: 100vh;
  width: 99.5%;
}
.navBarClbs {
  /* border-color: #555;
  border-style: solid; */
  /* margin-top: 40px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  height: 15vh;
  width: 90%;
  /* margin-top: px; */
  margin-left: 60px;
  border-top-right-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.tabs {
  /* border-color: rgb(184, 255, 71);
  border-style: solid; */
  margin-top: 50px;
  height: 75vh;
  width: 90.9%;
  margin-left: 60px;
  /* transform: translate(-50%, -50%); */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #ffffff;
}
.tabs > input[type="radio"] {
  display: none;
  border-radius: 5px;
}

.tabs > div {
  display: none;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 20px;
}
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2 {
  display: block;
  border-style: none;
}

/* .........................navTabClubs......................... */

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  /* background-color: #f5f5f5;
  border: 1px solid #ffff; */

  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
  /* position: relative; */
  top: 1px;
  border-radius: 5px;
  margin-left: 7px;
  color: rgba(83, 83, 83, 0.74);
  padding: 8px 250px 8px 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs > input[type="radio"]:checked + label {
  background-color: #fff;
  padding: 4px 270px 4px 270px;
  color: #fb544e;
  border-radius: 5px;
  /* padding: 3px 250px 3px 250px; */
  box-shadow: #fb544e 0px 0.0625em 0.0625em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.logoSite {
  /* border-color: rgb(184, 255, 71);
  border-style: solid; */
  padding-left: 0px;
  padding-top: 0px;
}
.createClub {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 500px;
}
.createClub:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 500px;
  cursor: pointer;
}
.loveu {
  width: 210px;
  height: 280px;
  /* border-style: solid;
  border-color: black; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  margin-left: 10px;
  display: flex;

  flex-direction: column;
  background-color: #ffffffa2;
}
.loveu:hover {
  width: 210px;
  height: 280px;
  /* border-style: solid;
  border-color: black; */
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  margin-left: 10px;
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
.scrollber {
  display: flex;
  overflow-y: hidden;
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
}

.scrollber::-webkit-scrollbar {
  width: 16px;
  background-color: #e0e0e0;
  border-radius: 10px;
}
.scrollber::-webkit-scrollbar-track {
  width: 5px;
  background-color: #ececec;
  border-radius: 10px;
}
.scrollber::-webkit-scrollbar-thumb {
  background-color: #fb544ec5;
  border-radius: 10px;
}

/* .clubLocationList {
}
.clubCategoriList {
}
.clubNameList {
} */
.circular--clubs {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c8c8;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 16px 0px;
  margin-right: 5px;
}
.circular--userPcc {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c8c8;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 16px 0px;
  margin-right: 5px;
}
.locationclub {
  display: flex;
}
.categorieclub {
  padding-top: 10px;
  display: flex;
}
.clubNameList {
  font-size: 20px;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #e05f5b;
}
.createrClub {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nameAndPic {
  display: flex;
  align-items: center;
  height: 150px;
  flex-direction: column;
  /* border-style: solid; */
}
.clubInfo {
  /* border-style: solid; */
  /* border-top-right-radius: 35px;
  border-top-left-radius: 35px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #ffffff;
}
.icon {
  color: #fb544e;
  margin-right: 10px;
  margin-left: 30px;
}
.clubuserLastName {
  margin-right: 5px;
}
