@import url(https://allfont.net/allfont.css?fonts=pragmatica-cyrillic);
body {
  font-family: "Pragmatica Cyrillic", arial;
}
.bgAcceuil {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.navLeft {
  background-color: #ffffff;
  height: 100vh;
  width: 26%;
  min-width: 50px;

  /* border-color: #fb544e; */
  /* border-style: solid; */
  border-top-right-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.navMiddle {
  margin-top: 20px;
  /* background-color: #ffffff; */
  height: 95vh;
  width: 41%;
  min-width: 50px;
  padding-right: 20px;
  /* progress */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border-style: solid;
  border-color: #fb544e; */
}

.navMiddle::-webkit-scrollbar {
  width: 16px;
  background-color: #e0e0e0;
  border-radius: 10px;
}
.navMiddle::-webkit-scrollbar-track {
  width: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}
.navMiddle::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.navMiddle {
  /* border-color: #eae052;
  border-style: solid; */
  display: flex;
  overflow-y: hidden;
  overflow-y: scroll;
  /* margin-top: 5px;
  height: 290px;
  width: 495px; */
}

.navRight {
  background-color: #ffffff;
  height: 100vh;
  width: 26%;
  min-width: 50px;
  border-top-left-radius: 5%;

  /* border-style: solid;
  border-color: #fb544e; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.logoHome {
  padding-top: 10%;
  padding-left: 30%;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  height: 100vh;
}

/* button {
  min-width: 20px;

  border-radius: 50px;
  border: none;

  color: #fff;
  font-size: 20px;
  cursor: pointer;
} */
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
}
.Auth {
  height: 10vh;
  width: 90%;
  /* border-style: solid; */
  margin-bottom: 30px;
}
.SearchClub {
  height: 80vh;
  width: 90%;
  /* border-style: solid; */
}
/* .b1 {
  border-color: #fb544e;
  color: #fb544e;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 3px 8px 3px 8px;
  margin-left: 10px;
} */
/* .b1:hover {
  border-color: #fb544e;
  color: #ffffff;
  background-color: #fb544e;

 
  padding: 3px 8px 3px 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.b2 {
  border-color: #fb544e;
  color: #ffffff;
  background-color: #fb544e;

  
  padding: 5px 10px 5px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 2px;
}
.b2:hover {
  border-color: #fb544e;
  color: #fb544e;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  padding: 3px 8px 3px 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 2px;
  cursor: pointer;
} */

.AuthButton {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* min-height: 100vh; */
}
.loginNav {
  display: flex;
  padding-left: 15px;
  align-items: center;

  /* border-style: solid; */
}
.loginName {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.loginName :hover {
  border-radius: 20px;
  background-color: #e0dfdf9f;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.userNameAcc {
  color: #000000;
  display: flex;

  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.userLastNameHome {
  padding-right: 5px;
}
.userNameHome {
  padding-right: 20px;
}

.circular--userPc {
  border-radius: 50%;
  width: 40px;
  height: 45px;
  border-style: solid;
  border-color: #c9c8c8;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-right: 5px;
}
.navHomeProfil :focus,
:hover,
:visited,
:link,
:active {
  text-decoration: none;
}

.b1 {
  color: #ffffff;
  background-color: lightcoral;
  padding: 3px 8px 3px 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 10px;
  font-size: 13px;
}
.b1:hover {
  color: #ffffffea;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: lightcoral;

  padding: 3px 8px 3px 8px;
  border-radius: 20ps;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.b2 {
  color: #ffffff;
  background-color: lightcoral;
  padding: 3px 8px 3px 8px;
  border-radius: 20ps;
  font-size: 13px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 10px;
}
.b2:hover {
  color: #ffffffea;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: lightcoral;

  padding: 3px 8px 3px 8px;
  border-radius: 20ps;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
