.BackgroundUpPf {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalWrapperUpPf {
  width: 700px;
  height: 600px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-color: #ea5652;
  border-style: solid;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

/* .ModalContentUpPf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    line-height: 1.9;
    padding-left: 50px; 
    color: #141414;
    border-color: #eae052;
    border-style: solid;
  } */
/* p {
    margin-bottom: 1rem;
  } */
/* button {
    padding: 10px 24px;
    background: #ea5652;
    color: #fff;
    border: none;
  } */

.CloseModalButtonUpPf {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
  /* border-color: #52ea66;
    border-style: solid; */
}
