@import url(https://allfont.net/allfont.css?fonts=pragmatica-cyrillic);
.userInoProfil {
  /* border-style: solid;
  border-color: rgb(0, 255, 85); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compUserNameProfil {
  /* border-style: solid;
  border-color: blue; */
  padding-top: 10px;
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.userNameProfil {
  /* border-style: solid;
  border-color: rgb(0, 0, 0); */
  font-family: "Pragmatica Cyrillic", arial;
  font-size: 30px;
}
.userLastNameProfil {
  /* border-style: solid;
  border-color: rgb(255, 145, 0); */
  font-size: 30px;
}
.userBioProfil {
  /* border-style: solid;
  border-color: rgb(255, 0, 119); */

  width: 60%;
  margin-top: 10px;
  font-size: 18px;
}

.userEmailProfil {
  /* border-style: solid;
  border-color: rgb(179, 255, 0); */
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: space-around;
  width: 35%;
  margin-top: 20px;
}
/* .userFlwProfil {
  border-style: solid;
  border-color: rgb(0, 162, 255);
}
.userFlowingProfil {
  border-style: solid;
  border-color: rgb(67, 67, 80);
}
.userFlowersProfil {
  border-style: solid;
  border-color: rgb(255, 0, 0);
} */
.flow {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.followers:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 16px 0px;
}
.followwing:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 16px 0px;
}
.followers {
  padding: 10px 20px 10px 20px;
  background-color: lightcoral;
  margin-left: 50px;
  border-radius: 15px;
  color: #fff;
}
.followwing {
  padding: 10px 40px 10px 40px;
  background-color: lightcoral;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  color: #fff;
}
.userClubss {
  padding: 10px 20px 10px 20px;
  border-color: lightcoral;
  border-style: solid;
  border-width: 1px;
  margin-left: 50px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 16px 0px;
  font-size: 20px;
  align-items: center;
  margin-right: 50px;
}
.date {
  margin-top: 20px;
}
